**/_ngo/netlist.lst
**/_xmsgs/**            
**/*.projectmgr
**/*.xreport
**/*.bld
*planAhead*
**/*.debug
**/*.cmd_log
**/*.ncd
**/*.ngc
**/*.ngd
**/*.ngr
**/*.bgn
**/*.bit
**/*.drc
**/*.ut
**/*.xst
**/*.xwbt
*envsettings.html
*webtalk.html
**/*.pad
**/*.par
**/*.gise
**/*.pcf
**/*.syr
**/*.twr
**/*.twx
**/*.lso
**/*.prj
**/*.stx
**/*.xbcd
**/*.xpi
**/*.ptwx
**/*.unroutes
**/*_guide.ncd
**/*_map.map
**/*_map.mrp
**/*_map.ncd
**/*_map.ngm
**/*_map.xrpt
**/*_ngdbuild.xrpt
**/*_pad.csv
**/*_pad.txt
**/*_par.xrpt
**/*_summary.html
**/*_summary.xml
**/*_usage.xml
**/*_xst.xrpt
**/webtalk_pn.xml
**/xst/work/hdllib.ref
**/xst/work/hdpdeps.ref
**/_primary.dat
**/_primary.dbs
**/behavioral.dat
**/behavioral.dbs
**/*.vho
*impact.xml
**/webtalk.log
**/*.xmsgs

**/work/**
*.cr.mti
*.mpf
*.wlf
modelsim.ini